<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/demoStyle.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-route.min.js"></script> 
  </head>
  <body ng-app="demo">
    <section class="view">
      <header>
      </header>
      
      <div ng-view></div>
      
      <footer>
      </footer>
    </section> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="/app.js"></script>
    <!-- <script type="text/javascript" src="/javascripts/ngControllers/appController.js"></script> -->
</html>