<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <!-- LINK - CSS -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/demoStyle.css"/>
    <!-- SCRIPT - ANGULAR from node_modules -->
    <script src="/angular.js"></script>
    <script src="/angular-route.js"></script>
  </head>
  <body id="wrapper" ng-app="demo">
    <section class="innerWrapper" ng-controller="mainCtrl as main">

                        <!-- FUTURE -->
                        <!-- <fieldset id="future"> -->
                          <!-- <legend> DIVIDER HERE!! </legend> -->
                            <!-- Messages -->
                            <!-- END Messages -->
                        <!-- </fieldset> -->

      <!-- TODAY -->
      <fieldset id="today">
        <legend> DIVIDER HERE!! </legend>
          <!-- Today Future Messages -->
          <one-post-wrapper ng-repeat="post in main.todayFuturePosts" input-msg="post"></one-post-wrapper>
          
          <!-- Time BAR -->
          <fieldset class="dateWrapper">
            <legend>Current Time</legend>
            <time-now></time-now>
            <input type="text" placeholder="Write Message here" ng-model="message"/>
            <select ng-options="mm for mm in main.getSelectTime.mms" ng-model="timeSelected.mm">
            </select> /
            <input type="text" class="date" placeholder="dd" ng-model="timeSelected.dd"/> /
            <input type="text" class="date" placeholder="yyyy" ng-model="timeSelected.yyyy"/> /
            <select ng-options="hour for hour in main.getSelectTime.hours" ng-model="timeSelected.hour">
            </select> /
            <select ng-options="minute for minute in main.getSelectTime.minutes" ng-model="timeSelected.minute">
            </select>
            <button ng-click="main.createPost()">+</button>
          </fieldset>
          
          <!-- Today Past Messages -->
          <one-post-wrapper ng-repeat="post in main.todayPastPosts" input-msg="post"></one-post-wrapper>
          <!-- END Messages -->
      </fieldset>

                      <!-- PAST -->
                      <!-- <fieldset id="past"> -->
                        <!-- <legend> DIVIDER HERE!! </legend> -->
                          <!-- Messages -->
                          <!-- END Messages -->
                       <!-- </fieldset> -->
    </section>
    
    <!-- SCRIPT - jQuery FROM GOOGLE CDN -->
    <script src="/javascripts/jquery-1.11.3.js"></script>
    <!-- SCRIPT - STATIC CONTENT FROM SERVER -->
    <script src="/app.js"></script>
    <script src="/javascripts/ngDirectives/onePostWrapperDirective.js"></script>
    <script src="/javascripts/ngDirectives/timeNowDirective.js"></script>
    <script src="/javascripts/ngControllers/mainController.js"></script>
    <script src="/javascripts/ngServices/timeFunctionsProvider.js"></script>
    <script src="/javascripts/ngServices/mainFactory.js"></script>
  </body>
</html>