/******************************************************************************
    BASE STYLING FOR WRAPPERS
/*****************************************************************************/

#wrapper {
    width: 1420px;
}

.innerWrapper {
    width: 50%;
    margin: 0 auto;
}

.dateWrapper {
    width: 85%;
    margin: 0 auto;
}

input.date {
    width: 5%;
}